body {
  height: 100vh;
  width: 100vw;
  background-color: #a5b58d;
}
#Header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #b58b63;
  padding: 10px 0;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  border-color: solid white;
}

#Header nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}

#Header a {
  text-align: center;   
  text-decoration: none;
  color: black;
}

#Home_page {
 display: grid;
 grid-template-areas: 
 '. . . . . .'
 'Mab Mab Mab Lb Lb Mb'
 'Mab Mab Mab Lb Lb Mb'
 'Mab Mab Mab Lb Lb Sb';
 grid-template-columns: repeat(6, 1fr);
 grid-template-rows: 75px 1fr 1fr 1fr;
 border: solid #f6efe8;
 height: 98vh;
 width: 100%;
}
#Main_box {
 grid-area: Mab;
 background-color: #b58b63;
 border: solid #f6efe8;
 margin: 5px;
}
#Larger_box {
 grid-area: Lab;
}
#Large_box {
 grid-area: Lb;
 background-color: rgba(255, 128, 0, 0.559);
 border: solid #f6efe8;
 margin: 5px;
 background-image: url("../img/Cozé_from_the_outside.jpg");
 background-size: cover;
 background-position: center;
 background-repeat: no-repeat;

}
#Medium_box {
 grid-area: Mb;
 background-color: brown;
 border: solid #f6efe8;
 background-image: url("../img/Cup_of_Joe.jpg");
 background-size: cover;
 background-position: center;
 background-repeat: no-repeat;
 margin: 5px;
}
#Small_box {
 grid-area: Sb;
 background-color: blueviolet;
 border: solid #f6efe8;
 margin: 5px;
 background-image: url("../img/Bread_bag.jpg");
 background-size: cover;
 background-position: center;
 background-repeat: no-repeat;
}
#wrapper_menu {
  grid-template-areas: 
  'f';
  
}
#flexy {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 per rad */
  gap: 20px; /* avstånd mellan rutor */
  justify-items: center; /* centrera varje box */
  align-items: center;   /* centrera vertikalt */
  width: 100%;
  max-width: 1600px; /* så att de inte blir för stora på enorma skärmar */
  margin: 0 auto; /* centrera hela gridet på sidan */
  padding-top: 100px;
}
#flexy section {
 width: 100%;
  aspect-ratio: 1 / 1; /* kvadratiska rutor */
  background-color: #8fa0bf;
  opacity: 30%;
  transition: 0.1s;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}
#flexy section:hover {
  border: solid;
    border-width: 1%;
    border-color: #ffffff;
    box-shadow: #ffffff 10px 10px 10px;
    opacity: 100%;
    flex-wrap: wrap;
    max-height: 60vh;
}
#boxy1 {
  background-image: url("../img/Frödingekaka.jpg");
  background-size: cover;
  background-position: center;
}
#boxy2 {
  background-image: url("../img/Dietz.jpg");
  background-size: cover;
  background-position: center;
}
#boxy3 {
  background-image: url("../img/Americancheese.jpg");
  background-size: cover;
  background-position: center;
}
#boxy4 {
  background-image: url("../img/Koppkaffe.jpg");
  background-size: cover;
  background-position: center;
}
#boxy5 {
  background-image: url("../img/Korv.jpg");
  background-size: cover;
  background-position: center;
}
#boxy6 {
  background-image: url("../img/Split.jpg");
  background-size: cover;
  background-position: center;
}
#boxy7 {
  background-image: url("../img/Stroganoff.jpg");
  background-size: cover;
  background-position: center;
}
#boxy8 {
  background-image: url("../img/Suga.jpg");
  background-size: cover;
  background-position: center;
}