body {
  height: 98vh;
  width: 98%;
  background-color: #a5b58d;
}
#Header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #b58b63;
  padding: 10px 0;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  border-color: solid white;
}

#Header nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}

#Header a {
  text-align: center;   
  text-decoration: none;
  color: black;
}

#Home_page {
 display: grid;
 grid-template-areas: 
 '. . . . . .'
 'Mab Mab Mab Lb Lb Mb'
 'Mab Mab Mab Lb Lb Mb'
 'Mab Mab Mab Lb Lb Sb';
 grid-template-columns: repeat(6, 1fr);
 grid-template-rows: 75px 1fr 1fr 1fr;
 border: solid #f6efe8;
 height: 98vh;
 width: 98%;
}
#Main_box {
 grid-area: Mab;
 background-color: #b58b63;
 border: solid #f6efe8;
 margin: 5px;
}
#Larger_box {
 grid-area: Lab;
}
#Large_box {
 grid-area: Lb;
 background-color: rgba(255, 128, 0, 0.559);
 border: solid #f6efe8;
 margin: 5px;
 background-image: url("../img/Cozé_from_the_outside.jpg");
 background-size: cover;
 background-position: center;
 background-repeat: no-repeat;

}
#Medium_box {
 grid-area: Mb;
 background-color: brown;
 border: solid #f6efe8;
 background-image: url("../img/Cup_of_Joe.jpg");
 background-size: cover;
 background-position: center;
 background-repeat: no-repeat;
 margin: 5px;
}
#Small_box {
 grid-area: Sb;
 background-color: blueviolet;
 border: solid #f6efe8;
 margin: 5px;
 background-image: url("../img/Bread_bag.jpg");
 background-size: cover;
 background-position: center;
 background-repeat: no-repeat;
}
#wrapper_menu {
  grid-template-areas: 
  'f';
  
}
#flexy {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 20px; 
  justify-items: center;
  align-items: center;  
  width: 100%;
  max-width: 1600px; 
  margin: 0 auto; 
  padding-top: 100px;
}
#flexy section {
 width: 100%;
  aspect-ratio: 1 / 1;
  background-color: #8fa0bf;
  opacity: 70%;
  transition: 0.1s;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}
#flexy section:hover {
  border: solid;
    border-width: 1%;
    border-color: #ffffff;
    box-shadow: #ffffff 10px 10px 10px;
    opacity: 100%;
    flex-wrap: wrap;
    max-height: 60vh;
}
#boxy1 {
  background-image: url("../img/american-heritage-chocolate-vdx5hPQhXFk-unsplash.jpg");
  background-size: cover;
  background-position: center;
}
#boxy2 {
  background-image: url("../img/anh-nguyen-kcA-c3f_3FE-unsplash.jpg");
  background-size: cover;
  background-position: center;
}
#boxy3 {
  background-image: url("../img/anna-przepiorka-LjtviHokbr4-unsplash.jpg");
  background-size: cover;
  background-position: center;
}
#boxy4 {
  background-image: url("../img/arvid-skywalker-h6ccJcVHh20-unsplash.jpg");
  background-size: cover;
  background-position: center;
}
#boxy5 {
  background-image: url("../img/chad-montano-gE28aTnlqJA-unsplash.jpg");
  background-size: cover;
  background-position: center;
}
#boxy6 {
  background-image: url("../img/eiliv-aceron-_8bnn1GqX70-unsplash.jpg");
  background-size: cover;
  background-position: center;
}
#boxy7 {
  background-image: url("../img/patrick-langwallner-Kt1Mk1BrqdU-unsplash.jpg");
  background-size: cover;
  background-position: center;
}
#boxy8 {
  background-image: url("../img/victoria-shes-UC0HZdUitWY-unsplash.jpg");
  background-size: cover;
  background-position: center;
}
#aboutus {
  grid-template-areas: 
  'b1 b1 b1 b2 b2'
  'b1 b1 b1 b3 b3'
  'b4 b4 b4 b3 b3'
  'b4 b4 b4 b3 b3';
  display: grid;
  height: 98vh;
  width: 98%;
  padding-top: 100px;
}
#box1 {
  grid-area: b1;
  border: solid #f6efe8;
  text-align: center;
}
#box2 {
  grid-area: b2;
  border: solid #f6efe8;
  text-align: center;
}
#box3 {
  grid-area: b3;
  border: solid #f6efe8;
  text-align: center;
}
#box4 {
  grid-area: b4;
  border: solid #f6efe8;
  text-align: center;
}